<!doctype html>
<html>
<head>
  <title>Diet Quality Score</title>
  <script src="static/js/vendor/jquery-1.9.0.js"></script>
  <script src="static/js/vendor/underscore.js"></script>
  <script src="static/js/vendor/backbone.js"></script>
  <script src="static/js/vendor/moment.js"></script>
  <script src="static/js/app.js"></script>

  <script type="text/template" id="total-score-template">
      <h2>Day Score</h2>
      <p><%= totalScore %></p>
  </script>

  <script type="text/template" id="score-template">
    <p><%= foodType %></p>
    <p><%= meal_description %></p>
    <p><%= score %></p>
    <p><%= date %></p>
  </script>

  <script type="text/template" id="scores-template">
    <h2>Meals</h2>
    <ol></ol>
  </script>

  <script type="text/template" id="new-food-template">
    <h2>Enter New Meal</h2>
    <div>
      <span>Enter food type:</span>
      <span>
        <input type="text" id="new-food" placeholder="Try vegetable, lean protein or fruit." />
      </span>
      <span>Enter meal description:</span>
      <span>
        <input type="text" id="meal" placeholder="Try broccoli, apple or non-fat yogurt." />
      </span>
    </div>
  </script>

  <script type="application/javascript">
    jQuery(function() {
      window.scores.fetch();
    });
  </script>

</head>
<body>
  <h1>Diet Quality Score Tracker</h1>
  <p>Enter meal type based on DQS. Meal is scored and daily total updated.</p>
  <div id="container"></div>
</body>
</html>
